.registerContainer {
    padding: 10px;
    margin: 20px auto;
    background: #324a5e;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 25px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid #000000;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    flex: 1;
}

.header-banner h1 {
    font-size: 1.3rem;
    color: #59A52C;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

form input,
form select {
    width: 70%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background: #7cbbc3; /* Fondo suave */
    color: #000;
    margin-bottom: 15px;
    transition: border 0.3s ease, background-color 0.3s;
}

form input:focus,
form select:focus {
    border: 2px solid #ff7900;
}

form .submit-button {
    background-color: #ff7900;
    padding: 12px;
    width: 30%;
    border-radius: 8px;
    font-size: 0.7rem;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
    color: #ffffff;
    border: 1px solid #ff7900;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px;
}

form .submit-button:hover {
    transform: scale(1.05);
    background-color: #59A52C;
    border: 1px solid #59A52C;
}


form label {
    padding-left: 50px;
    font-weight: 600;
    color: #f2f2f2;
    font-size: 0.6rem;
    margin-bottom: 8px;
    text-align: left;
    width: 90%;
}

